<h1>
    Index page
</h1>
<ul>
    <li><a href="~/home/login">Login Page</a></li>
    <li><a href="~/home/register">Register Page</a></li>
    <li><a href="~/home/userprofile">User Profile Page</a></li>
    <li><a href="~/home/loginout">logout</a></li>
</ul>
