<h1>
    Register
</h1>
<br/>
<form method="post" action="~/home/registerup">
    <div>
        name: <input type="text" name="name" />
    </div>
    <div>
        password: <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>