@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>
    Welcome to Index page
</h1>
<br/>
<ul>
    <li><a href="/Home/login">Login page</a></li>
    <li><a href="/Home/loginout">Loginout</a></li>
    <li><a href="/Home/register">register page</a></li>
    <li><a href="/Home/Userinfo">User information</a></li>
</ul>
